extends adminLayout
block content
	.row-fluid#content-header
		.span12
			h1= title
	.row-fluid#content-body
		.span4
			.box
				.box-header
					h2 独立页面
				.box-body
					ul.tree-list
						li: a(href="#") 首页
						li: a(href="/node/tuandui/edit") 团队
							ul
								li: a(href="/node/panwenshi/edit") 潘文石
									ul.branch
										li: a(href="/node/keyan/edit") 科研
										li: a(href="/node/rongyu/edit") 荣誉
										li: a(href="/node/zhuzuoyuwenzhang/edit") 著作与文章
										li: a(href="/node/yanlunyuyishi/edit") 言论与轶事
								li: a(href="/node/keyantuandui/edit") 科研团队
								li: a(href="/node/zhichituandui/edit") 支持团队
								li: a(href="/node/jigou/edit") 机构
						li 邀请
							ul.branch
								li: a(href="/node/lianxiwomen/edit") 联系我们
								li: a(href="/node/zhiyuanzhe/edit") 志愿者
								li: a(href="/node/juanzhuyuganxie/edit") 捐助与感谢
		.span4
			.box
				.box-header
					h2 栏目: 选择
					.ops
						a(href="/catalog/xuanze/add") + 添加文章
				.box-body
					ul.list
						li: a(href="/article/1/edit") 缘起：大熊猫
						li: a(href="/article/1/edit") 坚守：白头叶猴
						li: a(href="/article/1/edit") 抉择：中华白海豚
						li: a(href="/article/1/edit") 礼物：化石发掘
						li: a(href="/article/1/edit") 机会：生物多样性
		.span4
			.box
				.box-header
					h2 栏目: 野地
					.ops
						a(href="/catalog/yedi/add") + 添加文章
				.box-body
					ul.list
						li: a(href="/article/1/edit") 寒冷的西部群山
						li: a(href="/article/1/edit") 喀斯特石山丛林
						li: a(href="/article/1/edit") 北部湾浅海湿地
		.span4
			.box
				.box-header
					h2 栏目: 行动
					.ops
						a(href="/catalog/xingdong/add") + 添加文章
				.box-body
					ul.tree-list
						li 科研项目
							ul.branch
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
						li 科普项目
							ul.branch
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
						li 文化项目
							ul.branch
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
						li 公益项目
							ul.branch
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text
								li: a(href="/article/1/edit") text


				
