extends admin_layout
block content
	.row-fluid#content-header
		.span12
			h1= title
	.row-fluid#content-body
		.span4
			.box
				.box-header
					h2 独立页面
				.box-body
					ul.tree-list
						li: a(href="#") 首页
						li 团队
							ul
								li 潘文石
									ul
										li: a(href="#") 科研
										li: a(href="#") 荣誉
										li: a(href="#") 著作与文章
										li: a(href="#") 言论与轶事
								li: a(href="#") 科研团队
								li: a(href="#") 支持团队
								li: a(href="#") 机构
						li 邀请
							ul
								li: a(href="#") 联系我们
								li: a(href="#") 志愿者
								li: a(href="#") 捐助与感谢
		.span4
			.box
				.box-header
					h2 栏目: 选择
				.box-body
					ul.list
						li: a(href="#") 缘起：大熊猫
						li: a(href="#") 坚守：白头叶猴
						li: a(href="#") 抉择：中华白海豚
						li: a(href="#") 礼物：化石发掘
						li: a(href="#") 机会：生物多样性
		.span4
			.box
				.box-header
					h2 栏目: 野地
				.box-body
					ul.list
						li: a(href="#") 寒冷的西部群山
						li: a(href="#") 喀斯特石山丛林
						li: a(href="#") 北部湾浅海湿地
		.span4
			.box
				.box-header
					h2 栏目: 行动
				.box-body
					ul.tree-list
						li 科研项目
							ul
								li: a(href="#") text
								li: a(href="#") text
								li: a(href="#") text
						li 科普项目
							ul
								li: a(href="#") text
								li: a(href="#") text
								li: a(href="#") text
						li 文化项目
							ul
								li: a(href="#") text
								li: a(href="#") text
								li: a(href="#") text
						li 公益项目
							ul
								li: a(href="#") text
								li: a(href="#") text
								li: a(href="#") text


				
