extends layout
block head
    link(rel='stylesheet', href='/css/index.css')
    script.
        $(document).ready(function(){
            $('.carousel').carousel();
            });
        
block content
    #slides
        .container
            #carousel.carousel.slide
                ol.carousel-indicators
                    li.active(data-target="#carousel", data-slide-to="0")
                    li(data-target="#carousel", data-slide-to="1")
                    li(data-target="#carousel", data-slide-to="2")
                    li(data-target="#carousel", data-slide-to="3")
                    li(data-target="#carousel", data-slide-to="4")
                    li(data-target="#carousel", data-slide-to="5")
                    li(data-target="#carousel", data-slide-to="6")
                .carousel-inner
                    .item.active
                        a(href="/article/5224d3e8a267ead773a6cf3e")
                            img(src="images/slide/001.jpg", alt="#")
                    .item
                        a(href="/article/520daa55ff52823dc7000003")
                            img(src="images/slide/004.jpg", alt="#")
                    .item
                        a(href="/article/520daa3fff52823dc7000001")
                            img(src="images/slide/009.jpg", alt="#")
                    .item
                        a(href="/article/520daa48ff52823dc7000002")
                            img(src="images/slide/010.jpg", alt="#")
                    .item
                        a(href="/article/520daa81ff52823dc7000007")
                            img(src="images/slide/011.jpg", alt="#")
                    .item
                        a(href="/article/520daa3fff52823dc7000001")
                            img(src="images/slide/003.jpg", alt="#")
                    .item
                        a(href="/article/520daa3fff52823dc7000001")
                            img(src="images/slide/007.jpg", alt="#")
                a.left.carousel-control(href="#myCarousel", data-slide="prev") ‹
                a.right.carousel-control(href="#myCarousel", data-slide="next") ›
    #highlights
        .container
            .row
                .content-block.span4
                    h3 视频
                    a.image(href="http://you.video.sina.com.cn/b/117066116-1632781911.html", target="_blank")
                        img(src="/images/video01.png", alt="#")
                    .content
                        p 
                            | 这里是我所深爱的科学故乡，共有十三个未曾虚度的寒暑。
                            | 是故乡的启蒙和指引，我走上了今生的科学道路
                        a.more(href="/share/videos") more
                .content-block.span4
                    h3 图片
                    a.image(href="/share/photos/?type=monkey")
                        img(src="/images/pic01.png", alt="#")
                    .content
                        ul
                            li: a(href="/share/photos/?type=monkey") 独产于北热带喀斯特丛林中的白头叶猴
                            li: a(href="/share/photos/?type=dolphin") 钦州的白海豚是健康的、有希望的种群
                        a.more(href="/share/photos?type=panda") more
                .content-block.span4
                    h3 资料
                    a.image(href="/node/tuandui")
                        img(src="/images/data01.png", alt="#")
                    .content.data
                        ul
                            li: a(href="/upload/files/6.pdf", target="_blank") 生命教育是不朽的投资
                            li: a(href="/upload/files/4.pdf", target="_blank") 我的保护观
                            li: a(href="/upload/files/4.pdf", target="_blank") 明智的伦理抉择
                            li: a(href="/upload/files/5.pdf", target="_blank") 为了美丽富饶的钦州
                        a.more(href="/share/data") more




