doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(type="text/javascript", src="/js/lib/jquery-1.9.1.min.js")  
        script(type="text/javascript", src="/js/lib/bootstrap.js")
        block head
    body
        block content