extends layout
block head
    script.
        $(document).ready(function(){
            $('.carousel').carousel();
            });
block content
    #page-body
        .container
            .row
                .span3
                    #side-nav
                        h2= article.columnName
                            span.back-to-home
                                a(href="/") 返回首页&lt;
                        ul
                            each art in articles[article.column]
                                if art._id.equals(article._id)
                                    li.active: a(href="javascript:void(0);")= art.title
                                else
                                    li: a(href="/node/#{art.nodeName}")= art.title
                .span9
                    h2= article.title
                    .content!= article.content