html{background-color:#555}
.container{margin-right:auto;margin-left:auto;width:1200px}
#slides{min-width:1200px;background-color:#111;height:366px;overflow:hidden;}
#slides .carousel{margin-bottom:0;width:1200px}
#slides .carousel-control{display:none}
#slides .carousel-indicators{top:340px;right:120px;}
#slides .carousel-indicators li{margin-left:15px;cursor:pointer}
#slides .item img{margin:auto}
#highlights{min-width:1200px;padding-top:10px;padding-bottom:20px;background-color:#f6f5f3;}
#highlights .container{width:940px}
#highlights h3{color:#79584d;font-weight:normal}
#highlights .content{position:relative;}
#highlights .content h4{line-height:18px;color:#8c523f;font-size:14px;font-weight:bold;}
#highlights .content h4 a{color:#8c523f;font-size:14px;font-weight:bold}
#highlights .content .time{position:absolute;right:0;top:0;color:#666}
#highlights .content .more{background-color:#856d54;color:#fff;border-radius:5px;padding:2px 5px}
#highlights #contact h2{font-size:14px}
#highlights #contact ul{padding:0;margin:0}
#highlights #contact li{list-style-type:none}
