html{background-color:#555}
body{margin:0;padding:0}
#page-top{min-width:1200px;background-color:#f6f5f3;}
#page-top .container{margin-right:auto;margin-left:auto;width:1200px}
#page-top .top-bg{width:1200px;height:100px;background:url("../images/pageTop.jpg") no-repeat}
#page-top #logo a{display:block;width:300px;height:100px}
#page-top #top-tools{text-align:right;}
#page-top #top-tools #top-nav{margin-top:20px;}
#page-top #top-tools #top-nav a{color:#666}
#navbar{min-width:1200px;background-color:#e9e8e8;border-top:1px solid #ccc;border-bottom:1px solid #ccc}
#navbar .container{margin-right:auto;margin-left:auto;width:1200px}
#nav{margin:0;padding:0;margin-left:130px;list-style:none;font-weight:bold;float:left;position:relative;z-index:5;}
#nav >li{float:left;margin-right:10px;position:relative}
#nav a{display:block;padding:5px 15px;width:100px;color:#666;text-decoration:none;background:#e9e8e8 url("../images/navMenu.png") no-repeat;text-indent:-9999px;}
#nav a.xuanze{background-position:10px 5px}
#nav a.yedi{background-position:-135px 5px}
#nav a.xingdong{background-position:-282px 5px}
#nav a.tuandui{background-position:-430px 5px}
#nav a.fenxiang_news{background-position:-576px 5px}
#nav a.yaoqing{background-position:-723px 5px}
#nav a:hover{color:#000;background-color:#fff;text-decoration:underline}
#nav ul{margin:0;margin-top:0;padding:0;background:#fff;background:rgba(255,255,255,0);border:1px solid #ccc;list-style:none;position:absolute;left:-9999px}
#nav ul li{float:none}
#nav ul a{background-image:none;text-indent:0;white-space:nowrap}
#nav li:hover ul{left:0}
#nav li:hover a{text-decoration:underline}
#nav li:hover ul a{text-decoration:none}
#nav li:hover ul li a:hover{background:#fff}
#page-body{padding-top:20px;padding-bottom:20px;width:1200px;margin:auto;background-color:#fcfcfc}
#side-nav{padding-bottom:20px;}
#side-nav h2{font-weight:normal;color:#3f8fb9;border-bottom:1px solid #ccc;padding-bottom:5px;}
#side-nav h2 .back-to-home{float:right;font-size:12px;}
#side-nav h2 .back-to-home a{color:#666;}
#side-nav h2 .back-to-home a:hover{color:#08c}
#side-nav ul{list-style:none;margin:0;padding:0;min-height:200px;}
#side-nav ul li.active{background-color:#f1f1f1}
#side-nav ul a{display:block;line-height:30px;padding-left:7px;color:#666;}
#side-nav ul a:hover{color:#08c;text-decoration:none;background-color:#f9f9f9}
#side-bar .donate{padding-left:15px;padding-bottom:20px;margin-top:15px}
#footer{min-width:1200px;height:100px;background-color:#555;color:#fff;}
#footer .container{width:940px}
#footer .footer-logo{width:175px;height:30px;margin-top:15px;background:url("../images/footerLogo.png") no-repeat}
#footer .site-info{text-align:right;margin-top:10px;}
#footer .site-info p{margin-bottom:5px}
.jiathis_style img{max-width:none}
#album{width:780px;height:325px;overflow:hidden;}
#album img{width:100%}
#contact-table td{width:33%;padding:0}
#share-center ul.photos,#share-center ul.data,#share-center ul.videos{list-style:none;margin:0;}
#share-center ul.photos li,#share-center ul.data li,#share-center ul.videos li{float:left;width:150px;margin-right:20px;margin-bottom:20px;}
#share-center ul.photos li p,#share-center ul.data li p,#share-center ul.videos li p{height:30px;padding-top:10px}
#share-center .videos img{height:100px;width:150px}
#share-center .photos img{height:100px;overflow:hidden}
#share-center ul.sub-nav{list-style:none;margin:0;line-height:40px;margin-bottom:10px;}
#share-center ul.sub-nav li{display:inline;padding-right:20px}
