@import 'nib'

body
	background-color: #444
	
a
	color: #629bda
	&:hover
		color: #2156aa
		text-decoration: none

#sidemenu
	display: block
	float: left
	position: relative
	width: 220px
	z-index: 16
	ul
		padding: 0
		margin: 0
		margin-top: 20px
		position: absolute
		width: 220px
	li
		list-style: none
		a
			color: #ccc
			display: block
			line-height: 3em
			padding-left: 10px
			border-top: 1px solid #4e4e4e
			border-bottom: 1px solid #393939
			transition: background-color 0.1s, color 0.1s
			&:hover
				color: #fff
				text-decoration: none
				background-color: #333
			&.active
				background: linear-gradient(top, #353535, #333)
			i
				margin-right: 5px

#content
	background: none repeat scroll 0 0 #eeeeee
	margin-left: 220px
	margin-right: 0
	padding-bottom: 25px
	position: relative
	min-height: 900px
	width: auto
	background-clip: padding-box
	border-top-left-radius: 8px
	padding-top: 20px

#content-header
	padding-bottom: 15px

.box
	background-color: #FFF
	border: 1px solid #ddd
	border-radius: 5px
	margin-bottom: 20px
	.box-header
		background: linear-gradient(top, #fdfdfd, #eaeaea)
		padding-left: 10px
		border-radius: top 5px
		border-bottom: 1px solid #ddd
		height: 32px
		h2
			color: #636363
			margin: 0
			padding: 0
			font-size: 12px
			line-height: 35px
	.list
		margin: 0
		background-color: #f6f6f6
		> li
			border-bottom: 1px solid #ddd
			border-top: 1px solid #fff
			padding: 15px
			list-style: none
			color: #999
			a
				font-size: 14px
	.tree-list
		@extend .box .list
		li
			line-height: 32px
















