body
    background-color: #FFF
    margin: 0px
    padding: 0px

#page-top
    min-width: 1200px
    background-color: #f6f5f3
    .top-bg
        width: 1200px
        height: 100px
        background: url("../images/pageTop.jpg") no-repeat
    #logo a
        display: block
        width: 300px
        height: 100px

    #top-tools
        text-align: right
        #top-nav
            margin-top: 20px
            a
                color: #666

#navbar
    min-width: 1200px
    background-color: #E9E8E8
    border-top: 1px solid #ccc
    border-bottom: 1px solid #ccc

#nav
    margin: 0px
    margin-left: 130px
    padding: 0px
    list-style: none
    font-weight: bold
    /* Clear floats */
    float: left
    width: 100%
    position: relative
    z-index: 5
    li
        float: left
        margin-right: 10px
        position: relative
    a
        display: block
        padding: 5px 15px
        width: 100px
        color: #666
        text-decoration: none
        background: #E9E8E8 url("../images/navMenu.png") no-repeat
        text-indent: -9999px
        &.xuanze
            background-position: 10px 5px
        &.yedi
            background-position: -135px 5px
        &.xingdong
            background-position: -282px 5px
        &.tuandui
            background-position: -430px 5px
        &.fenxiang_news
            background-position: -576px 5px
        &.yaoqing
            background-position: -723px 5px
    a:hover
        color:#000
        background-color:#FFF
        text-decoration:underline

    /*--- DROPDOWN ---*/
    ul
        margin: 0px
        margin-top: 1px
        padding: 0px
        background: #fff
        background: rgba(255,255,255,0);
        list-style: none
        position: absolute
        left:-9999px
    ul li
        float: none
    ul a
        background-image: none
        text-indent: 0
        white-space: nowrap
    li:hover ul
        left: 0
    li:hover a
        text-decoration: underline
    li:hover ul a
        text-decoration: none
    li:hover ul li a:hover
        background: #FFF


#footer
    min-width: 1200px
    height: 100px
    background-color: #555
    color: #FFF
    .container
        width: 940px
    .footer-logo
        width: 175px
        height: 30px
        margin-top: 15px
        background: url("../images/footerLogo.png") no-repeat
    .site-info
        text-align: right
        margin-top: 10px
        p
            margin-bottom: 5px